ultralytics==8.3.145
anomalib==2.3.3
huggingface-hub==0.25.2
opencv-python-headless==4.10.0.84
fastapi==0.109.2
uvicorn==0.30.6
python-multipart==0.0.9
pillow==10.4.0
numpy==1.26.4
gradio==4.44.1
torchvision
torch